<div class="panel">
    <form novalidate name="newTask">
        <div class="form-group">
            <label for="action">Action:</label>
            <div class="input-group">
                <input id="action" name="action" class="form-control"
                       ng-model="$ctrl.newItem.action"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.addNewItem($ctrl.todo.items, $ctrl.newItem)"
                            ng-disabled="!$ctrl.newItem.action">Add</button>
						</span>
            </div>
        </div>
    </form>
</div>